{% from "layouts/_formhelpers.html" import render_field %}

{% extends "layouts/base.html" %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post">
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.username) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        {{ form.submit }}
    </form>
{% endblock %}